*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    display: block;
    background: green;
    color: #fff;
    border: 0;
    margin: 30px auto;
    padding: 10px 30px;
    border-radius: 99px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 100%;
    background: red;
    transition: right 0.5s ease;
    
}

.btn:hover::before{
    right: 50%;
    
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0%;
    background: rgb(217, 255, 0);
    transition: left 0.5s ease;
    
}
.btn:hover::after{
    left: 50%;
    
}
