@mixin center($type){
    @if($type == flex){
        display: flex;
        justify-content: center;
    } @else if ($type == position){
        position: relative;
        > * {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
    } @else if ($type == margin){
        >*{
            margin: 0 auto;
        }
    } @else {
        text-align: center;
        > * {
            display: inline-block;
            text-align: left;
        }
    }
}

.container{
    @include center(flex);
    div{
        width: 300px;
        border: 1px solid red;
    }
}




// nếu $type = flex => căn giữa bằng flex
// nếu $type = position => căn giữa bằng position
// nếu $type = margin => căn giữa bằng margin
// nếu $type = text => căn giữa khối bằng text align