*{
    padding: 0;
    margin: 0;
}
header{
    text-align: center;

}
nav{
    line-height: 50px;
    background-color: orange;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul a{
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0 15px;
}
nav ul a:hover{
    background-color: rgb(76, 18, 163);
    color: #fff;
}
nav ul a:active{
    color: rgb(76, 18, 163);
    color: #fff;
}

nav ul a:focus{
    background: rgb(76, 18, 163);
    color: #fff;
}
.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}
.product-list_item{
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.product-list_item img{
    width: 100%;
    margin-bottom: 40px;
    transition: all 0.2s linear;
}
.product-list_item img:hover{
    /* transform: scale(1.3);rotate: (45deg); */
    /* transform: translate(0 -10px); */
    transform: skew(30deg);
}

.sub a{
    color: #333;
    text-decoration: none;
}
.sub a:hover{
    text-decoration: underline;
}
.sub p{
    padding: 10px 0;
}
.sub{
    background-color: #fff;
    position: absolute;
    bottom: -70px;
    transition: 0.5s ease-in-out;
   
}
.product-list_item:hover .sub{
    bottom: 0;
}
.thumb {
    position: relative;
    width: 280px;
    height: 360px;
    overflow: hidden;
}

.thumb img {
    position: absolute;
    object-fit: cover;
    width: 280px;
    height: 360px;
    transition: all 0.2s linear;
}

.thumb:hover img:last-of-type {
    opacity: 0;
}
