*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
:root {
    --container-width: 1200px;
    --column-space: 20px;
}
.container {
    max-width: var(--container-width);
    margin:  0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--column-space) / 2);
}

.row [class^= 'col-sm'] {
    --column-width: calc(100% / (12 / var(--column-size)));
    flex-basis: var(--column-width);
    max-width: var(--column-width);
    padding: 0 calc(var(--column-space) / 2);
    }
.col-xl-1{
    --column-size: 1;
}
.col-xl-2{
    --column-size: 2;
}
.col-xl-3{
    --column-size: 3;
}
.col-xl-4{
    --column-size: 4;
}
.col-xl-5{
    --column-size: 5;
}
.col-xl-6{
    --column-size: 6;
}
.col-xl-7{
    --column-size: 7;
}
.col-xl-8{
    --column-size: 8;
}
.col-xl-9{
    --column-size: 9;
}
.col-xl-10{
    --column-size: 10;
}
.col-xl-11{
    --column-size: 11;
}
.col-xl-12{
    --column-size: 12;
}
@media screen and  (min-width: 1200px){
    .col-xl-1{
        --column-size: 1;
    }
    .col-xl-2{
        --column-size: 2;
    }
    .col-xl-3{
        --column-size: 3;
    }
    .col-xl-4{
        --column-size: 4;
    }
    .col-xl-5{
        --column-size: 5;
    }
    .col-xl-6{
        --column-size: 6;
    }
    .col-xl-7{
        --column-size: 7;
    }
    .col-xl-8{
        --column-size: 8;
    }
    .col-xl-9{
        --column-size: 9;
    }
    .col-xl-10{
        --column-size: 10;
    }
    .col-xl-11{
        --column-size: 11;
    }
    .col-xl-12{
        --column-size: 12;
    }
}
/* Quy ước: 
1. < 576px => .col-sm{number} 
2. >=576px => .col-smsm-{number} (small)
3. >= 768px => .col-smmd-{number} (medium)
4. >= 992px => .col-smlg-{number}
5. >= 1200px => .col-smxl-{number}
6. >= 1400px => .col-smxxl-{number}
*/