@font-face {
    font-family: "Asap";
    src: url(./Asap/Asap-Italic-VariableFont_wdth\,wght.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Asap";
}

.header_img > .poster{
    width: 100%;
    height: 326px;
    position: relative;
    display: block;
    backdrop-filter: contrast(.8)

}
.logo{
    position: absolute;
    left: 5%;
    top: 219px;
    display: flex;
}
.logo > .img_logo{
    width: 208px;
    height: 107px;
    display: block;
    border-radius: 3px;

}
.describe{
    position: relative;
    margin-left: 20px;
    color: #fff;
    top: 20px;
}
.describe h1{
    font-size: 22px;
}
.describe  p{
    display: inline-block;
    margin: 10px 4px;   
     text-transform: uppercase;
}

.describe  p span{
    font-weight: bolder;
    font-size: 18px;
}

nav ul{
    list-style: none;
    margin-right: 80px;

}
nav li{
    float: right;
    position: relative;
    margin: 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
}

nav li a::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -4px;
    height: 2px;
    margin-top: 38px;
    background-color: #ff574d;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}
nav li:hover a{
    color: #ff574d;
}

nav li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);

}